LIBPATH .

CODEPAGE   NAME=page       START=0x0000   END=0x7FFF
CODEPAGE   NAME=page1      START=0x8000   END=0xFFFF

SECTION    NAME=STARTUP    ROM=page
SECTION    NAME=CODE       ROM=page
SECTION    NAME=CODE1      ROM=page1

STACK SIZE=0x100



